body {
    background-color: #FDE8F1;
}
.container-fluid {
    margin: 0%;
    box-sizing: border-box;
}

.custom-height {
    height: 100vh;
}

.imagem {
    display: grid;
    place-items: center;
}

@media (min-width: 768px) {
    .img-madoka {
        width: 310px;
        height: auto;
    }
}

@media (max-width: 768px) {
    .custom-height {
        height: 33.33vh;
    }
    .h1-pagina-inicial {
        font-size: 23px;
    }
    .barra-rosa {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-madoka {
        width: 180px;
        height: auto;
    }
}

@media (max-width: 576px) {
    .h1-pagina-inicial {
        font-size: 18px;
    }
    .barra-rosa {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-madoka {
        width: 170px;
        height: auto;
    }
}

@media (max-width: 320px) {
    .h1-pagina-inicial {
        font-size: 14px;
    }
    .barra-rosa {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-madoka {
        width: 120px;
        height: auto;
    }
}

.darkpink-bg {
    background-color: #A30057;
}

.league-spartan {
    font-family: "League Spartan", sans-serif;
}

.textbox {
    padding:3dvw
}

h1 {
    font-size: 24px; /* Default font size */
}