html, body {
    height: 100%; /* Garante que o html e body ocupem 100% da altura da tela */
    margin: 0;
    padding: 0;
}
body {
    background-color: #FDE8F1;
}
.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* O contêiner ocupa 100% da altura da tela */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.darkpink-bg {
    background-color: #A30057;
}

.league-spartan {
    font-family: "League Spartan", sans-serif;
}



h1 {
    font-size: 3vw; /* Ajustável com largura da tela */
    margin-top: 1rem;
    color: white;
    font-weight: bold;
    text-align: center;
}




.barra-lateral {
    height: 100vh;
    width: 15vw;
    max-width: 150px;
    background-color: #A30057;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.barra-lateral h2 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-right:1rem;
}


.barra-lateral #legenda {
    font-size: 1.5vw;
}
.bola {
    height: 20px;
    width: 20px;
    margin: 0.5rem; /* Espaçamento vertical entre as bolas */
}
.legendanat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1rem; /* Espaço entre os itens */
    width: 100%;
}
.legendanat h2 {
    margin: 0.5rem 0; /* Espaço entre o texto e as bordas */
    font-size: 1.2vw; /* Fonte responsiva baseada na largura da tela */
    flex: 1 1 50%; /* Ajuste dinâmico de tamanho ocupando até 50% do espaço disponível */
    text-align: left; /* Garante que o texto fique alinhado à esquerda */
}

#sayaka {
    width: 10vw;
    height: auto;
    max-width: 120px;
    margin-top: 2rem;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Mantém Kyubey nas extremidades */
    background-color: #A30057;
    padding: 1rem;
    position: relative;
    width: 100%;
}
.header h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centraliza o título */
    color: white;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
}
#kyubey-sentado {
    width: 10vw;
    max-width: 150px;
    height: auto;
}

#kyubey-deitado {
    width: 10vw;
    max-width: 150px;
    height: auto;
}

#voltar {
    color: white;
    font-size: 2vw;
    text-align: center;
    margin-top: auto;
    padding: 0.5rem;
}

#voltar:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}




.grafico, .descricao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Remove margens extras */
    max-width: 90vw;
    flex-direction: column;
}
.grafico{
    margin-top: -44rem;
    margin-left: 9rem;
}

.grafico img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.descricao {
    margin-top: 2rem;
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'League Spartan', sans-serif;
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    max-width: 84vw;
    margin-left: 13rem;
    text-align: center;
}


/* Telas até 2560px (4K) */
@media (max-width: 2560px) {
    .barra-lateral {
        width: 8vw;
        max-width: 240px;
        height: 900px;
  }
    }

    .grafico {
        margin-top: -42rem;
        margin-left: 9rem;
}


    .grafico img {
        max-width: 1800px; /* Gráfico grande para monitores 4K */
    }

    .descricao {
        font-size:1.2vw;
    max-width: 69vw;
    margin-left: 20vw;
    padding: 4rem;
    height: 253px;
    }

    h1 {
        font-size: 2vw; /* Ajuste no título para ficar proporcional */
    }

    .legendanat h2 {
        font-size: 1.5rem; /* Fonte maior para legendas */
    }

    .bola {
        height: 25px; /* Bolas ainda maiores para telas 4K */
        width: 25px;
    }











/* Telas até 1440px */
@media (max-width: 1440px) {
    .barra-lateral {
        width: 8vw; /* Mais estreita para telas maiores */
        height: 1200px;
        max-width: 220px; /* Aumenta um pouco a largura máxima */
    }

    .grafico {
        max-width: 80vw;
        margin-left: 13rem; /* Mais margem à esquerda */
    }

    .grafico img {
        margin-top:-35vw; /* Gráfico maior em telas de 1440px */
    }

    .descricao {
        font-size: 2vw;
  padding: 0.8rem;
  line-height: 1.4;
  height: 23vw;
  width: 282vw;
  margin-left: 20vw;
    }

    h1 {
        font-size: 2.5vw; /* Fonte proporcional a telas de 1440px */
    }

    .legendanat h2 {
        font-size: 1vw; /* Fonte maior para legendas */
    }

    .bola {
        height: 20px; /* Bolas maiores para telas grandes */
        width: 20px;
    }
}


@media (max-width: 1366px) {
    .barra-lateral {
        width: 9vw; /* A barra lateral fica mais estreita */
        max-width: 200px;
        height: 100vh;
    }

    .grafico {
        margin-left: 15rem; /* Mais margem em telas grandes */
    }

    .grafico img {
        margin-top:5vw; /* Imagem grande em telas grandes */
    }

    .descricao {
        font-size: 1.2rem;
        max-width: 70vw; /* Aumenta a largura da descrição em telas maiores */
        margin-left: 22vw;
        padding: 2.5rem; /* Padding maior */
    }
    
    h1 {
        font-size: 2vw; /* Reduz o tamanho do título em telas grandes */
    }

    .legendanat h2 {
        font-size: 0.8rem; /* Tamanho de texto maior nas legendas */
    }

    .bola {
        height: 25px; /* Aumenta o tamanho das bolas para telas grandes */
        width: 25px;
    }
}
@media(max-width:1280px){

    .barra-lateral {
        width: 9vw; /* A barra lateral fica mais estreita */
        max-width: 200px;
        height: 100vh;
    }

    .grafico {
        margin-top: -38rem;
        margin-left: 15rem; /* Mais margem em telas grandes */
    }

    .grafico img {
        margin-top:-1vw;/* Imagem grande em telas grandes */
    }

    .descricao {
        font-size: 1.2rem;
        max-width: 70vw; /* Aumenta a largura da descrição em telas maiores */
        margin-left: 18rem;
        padding: 2.5rem; /* Padding maior */
    }

    h1 {
        font-size: 2vw; /* Reduz o tamanho do título em telas grandes */
    }

    .legendanat h2 {
        font-size: 0.8vw; /* Tamanho de texto maior nas legendas */
    }

    .bola {
        height: 13px; /* Aumenta o tamanho das bolas para telas grandes */
        width: 13px;
    }
}
@media (max-width: 1024px) {
    .barra-lateral {
        width: 10vw; /* Reduz a largura para dar mais espaço ao conteúdo */
        max-width: 180px;
        height: 100vh;
    }


    .grafico {
        margin-left: 12rem; /* Mais margem para telas maiores */
    }

    .grafico img {
        width: 73vw;
        margin-left:-10vw;
        margin-top:-2vw/* Imagem maior em telas maiores */
    }

    .descricao {
        font-size: 1.1rem;
        max-width: 75vw; /* Aumenta a largura da descrição */
        margin-left: 15vw; /* Ajusta a margem */
        padding: 2rem; /* Aumenta o padding para telas grandes */
    }

    h1 {
        font-size: 2.5vw; /* Fonte um pouco menor para telas maiores */
    }

    .legendanat h2 {
        font-size: 1.2vw; /* Ajuste de fonte para a legenda */
    }
    .barra-lateral #legenda{
        font-size: 2.2vw;
    }
    .bola {
        height: 15px; /* Tamanho das bolas maior */
        width: 15px;
    }
}


@media (max-width: 768px) {
    .barra-lateral {
        width: 10vw;
        max-width: 80px;
        height: 85vw;
    }
    
    .grafico{
        max-width: 95vw;
        margin-top: -35rem;
        margin-left: 6rem;
    }
   

    .descricao {
        padding: 1rem;
        font-size: 0.9rem;
        margin-left:15vw;
    }
    .barra-lateral #legenda{
        font-size: 2vw;
    }
     .barra-lateral h2 {
        font-size: 1.7vw;
  }
    


    h1 {
        font-size: 6vw;
    }

    .grafico img {
        margin-top:-10vw;
        width:80vw;
    }
}

@media (max-width: 480px) {
    .barra-lateral {
        width: 15vw;
        height: 91vw;
      }
      .barra-lateral h2{
        font-size: 2.7vw;

      }
    .barra-lateral #legenda{
        font-size: 3vw;
        margin-left: 3vw;
  }
   
    .header {
        height: 6vw;
        width: 101vw;
}
    .titulo {
        font-size: 10px;
    }

    .grafico {
        max-width: 40vw;
        padding: 0.3rem;
        margin-left: 62vw;
      }

      .descricao {
        font-size: 3vw;
        padding: 0.8rem;
        line-height: 1.4;
        height: 50vw;
        width: 308vw;
        margin-left:25vw;
      }

    .grafico img {
        width: 82vw;
        height: 35vw;
        margin-top: 50vw;
        margin-left:-42vw;
    }
    .bola{
        width: 20px;
        height: 20px;
    }
    }
   

@media(max-width:375px){
    .barra-lateral {
        width: 15vw;
        height: 91vw;
      }
      .barra-lateral h2{
        font-size: 2.7vw;

      }
    .barra-lateral #legenda{
        font-size: 3vw;
        margin-left: 3vw;
  }
   
    .header {
        height: 6vw;
        width: 101vw;
}
    .titulo {
        font-size: 10px;
    }



      .descricao {
        font-size: 3vw;
        padding: 0.8rem;
        line-height: 1.4;
        height: 50vw;
        width: 308vw;
        margin-left:25vw;
      }

    .grafico img {
        width: 82vw;
        height: 35vw;
        margin-top: 65vw;
        margin-left:-45vw;
    }
    .bola{
        width: 20px;
        height: 20px;
    }
}

