body {
    background-color: #FDE8F1;
    margin: 0;
}
.container-fluid {
    margin: 0%;
    box-sizing: border-box;
}

.darkpink-bg {
    background-color: #A30057;
}

.league-spartan {
    font-family: "League Spartan", sans-serif;
}



h1 {
    font-size: 48px; /* Default font size */
    margin-top: 20px;
    color: white;
    font-weight: bold;
}



.barra-lateral{
    height: 100vh;
    width: 130px;
    background-color: #A30057;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; 
    overflow: hidden;
    display: flex; /* Adicionando flexbox */
    flex-direction: column; /* Direção da coluna */
    align-items: center;
    flex-shrink: 0;
}

.barra-lateral h2{
    color: white;
    text-align: center;
     /* Usando vw para ajuste automático */
    font-weight: bold;
    flex-grow: 0; /* Não expande */
}

.barra-lateral #legenda{
    font-size: 1.9vw;
}
.barra-lateral #sayaka{
    width: 125px;
    height: 230px;
}
.header{
    position: relative;
    display: flex;
    background-color: #A30057;
    height: auto;
    overflow: hidden;
    justify-content: center;
    width:auto;
}

#link-voltar {
    text-align: center; /* Centraliza o texto do link */
    padding: 10px; /* Espaçamento ao redor do link */
    color: white; /* Cor do texto */
    text-decoration: underline; /* Remove sublinhado do link */
    font-size: 20px; /* Tamanho da fonte do link */
}

#link-voltar:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

#kyubey-sentado{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 146px;
    height: 87px;
}

#kyubey-deitado{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  height: 110px;
}

.bola{
    height: 20px;
    width: 20px;
    margin-top:20px;
    margin-left: 7px;
}
.legendanat{
    display:flex;
    align-items: center;
}
.legendanat h2{
    margin-top:20px;
    font-size:15px;
}



#sayaka{
    width:150px;
    margin-top: 50%;
}

.grafico {
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%); /* Centraliza horizontal e verticalmente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.grafico img {
    width: 1163px;
    height: 352px;
    margin-left: 0; /* Remove margens desnecessárias */
}

.descricao{
    margin-top: -240px;
  font-size: 1rem;
  color: #333;
  padding: 11px;
  max-width: 800px;
  margin-left: 398px;
  margin-right: auto;
  font-weight: bold;
}


@media (max-width:1344px){
    .header{
        height: auto;
    }
    .grafico img{
        width:1000px;
        height: 300px;
    }
    .barra-lateral{
        width:95px;
    }
    .titulo{
        font-size: 2.5rem;
    }
    .barra-lateral h2{
        font-size: 0.7rem;
    }
    .barra-lateral #legenda{
        font-size:1rem
    }
    #kyubey-sentado{
        width: 120px;
        height: 80px;
    }
    #kyubey-deitado{
        width: 150px;
        height: 73px;
    }
    .barra-lateral #sayaka{
        width: 100px;
        height: 170px;
    }
    .barra-lateral .bola{
        width: 18px;
        height: 18px;
    }
}
@media(max-width:1298px){
    .header{
        width: 100%;
        height: auto;
    }
    .grafico img{
        width:995px;
        height: 300px;
    }
    .barra-lateral{
        width: 83px;
    }
    .titulo{
        font-size: 2.2rem;
    }
    .barra-lateral h2{
        font-size: 0.7rem;
        margin-right: 5px;
    }
    .barra-lateral .bola{
        width: 15px;
        height: 15px;
        margin-right: 2px;
    }
    #kyubey-sentado{
        width: 90px;
        height: 60px;
    }
    #kyubey-deitado{
        width: 130px;
        height: 65px;
    }
    .barra-lateral #sayaka{
        width: 100px;
        height: 170px;
        margin-left: 10px;
    }
    .barra-lateral #legenda{
        margin-left: 5px;
    }
}
@media(max-width:1271px){
    .header{
        width: 100%;
        height: auto;
    }
    .grafico img{
        width:950px;
        height: 280px;
    }
    .titulo{
        font-size: 1.5rem;
    }
    .barra-lateral .bola{
        height: 10px;
        width: 12px;
    }
    .barra-lateral h2{
        font-size: 0.6rem;
        margin-right: 5px;
    }
    #kyubey-sentado{
        width: 85px;
        height: 58px;
    }
    #kyubey-deitado{
        width: 115px;
        height: 65px;
    }
    .barra-lateral #sayaka{
        width: 80px;
        height: 150px;
        margin-left: 5px;
    }
    .barra-lateral{
        width: 70px;
    }
    .barra-lateral #legenda{
        font-size: 0.8rem;
    }
}

@media(max-width:1162){
    .header{
        width: 100%;
        height: auto;
    }
    .grafico img{
        width:890px;
        height: 200px;
    }
    .titulo{
        font-size: 1.5rem;
    }
    .barra-lateral .bola{
        height: 10px;
        width: 12px;
    }
    .barra-lateral h2{
        font-size: 0.6rem;
        margin-right: 5px;
    }
    #kyubey-sentado{
        width: 85px;
        height: 58px;
    }
    #kyubey-deitado{
        width: 150px;
        height: 73px;
    }
    .barra-lateral #sayaka{
        width: 80px;
        height: 150px;
        margin-left: 5px;
    }
    .barra-lateral{
        width: 70px;
    }
    .barra-lateral #legenda{
        font-size: 0.8rem;
    }
}

@media(max-width:1116px){
    .header{
        width: 100%;
        height: auto;
    }
    .grafico img{
        width:880px;
        height: 268px;
    }
    .titulo{
        font-size: 1.5rem;
    }
    .barra-lateral .bola{
        height: 10px;
        width: 12px;
    }
    .barra-lateral h2{
        font-size: 0.6rem;
        margin-right: 5px;
    }
    #kyubey-sentado{
        width: 85px;
        height: 58px;
    }
    #kyubey-deitado{
        width: 120px;
        height: 55px;
    }
    .barra-lateral #sayaka{
        width: 80px;
        height: 150px;
        margin-left: 5px;
    }
    .barra-lateral{
        width: 70px;
    }
    .barra-lateral #legenda{
        font-size: 0.8rem;
    }
}


@media (max-width:1078px){
    
    .header{
        width: 100%;
        height: auto;
    }
    .grafico img{
        width:850px;
        height: 250px;
    }
    .titulo{
        font-size: 1.5rem;
    }
    .barra-lateral .bola{
        height: 10px;
        width: 12px;
    }
    .barra-lateral h2{
        font-size: 0.6rem;
        margin-right: 5px;
    }
    #kyubey-sentado{
        width: 85px;
        height: 58px;
    }
    #kyubey-deitado{
        width: 120px;
        height: 55px;
    }
    .barra-lateral #sayaka{
        width: 80px;
        height: 150px;
        margin-left: 5px;
    }
    .barra-lateral{
        width: 70px;
    }
    .barra-lateral #legenda{
        font-size: 0.8rem;
    }
}



@media(max-width:1024px){
    .header{
        width: 100%;
        height: auto;
    }
    .grafico img{
        width:790px;
        height: 250px;
    }
    .titulo{
        font-size: 1.2rem;
    }
    .barra-lateral .bola{
        height: 10px;
        width: 12px;
    }
    .barra-lateral h2{
        font-size: 0.5rem;
        margin-right: 5px;
    }
    #kyubey-sentado{
        width: 85px;
        height: 48px;
    }
    #kyubey-deitado{
        width: 120px;
        height: 51px;
    }
    .barra-lateral #sayaka{
        width: 80px;
        height: 150px;
        margin-left: 5px;
    }
    .barra-lateral{
        width: 70px;
    }
    .barra-lateral #legenda{
        font-size: 0.8rem;
    }
}
