body {
    background-color: #FDE8F1;
    margin: 0;
}
.container-fluid {
    margin: 0%;
    box-sizing: border-box;
}

.darkpink-bg {
    background-color: #A30057;
}

.league-spartan {
    font-family: "League Spartan", sans-serif;
}



h1 {
    font-size: 48px; /* Default font size */
    margin-top: 20px;
    color: white;
    font-weight: bold;
}
#barra-lateral{
    height: 100vh;
    width: 20vh;
    background-color: #A30057;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; 
    overflow: hidden;
    display: flex; /* Adicionando flexbox */
    flex-direction: column; /* Direção da coluna */
    align-items: center;
}

#barra-lateral h2{
    color: white;
    text-align: center;
     /* Usando vw para ajuste automático */
    font-weight: bold;
    flex-grow: 0; /* Não expande */
}

#barra-lateral #legenda{
    font-size: 1.9vw;
}

#header{
    background-color: #A30057;
    height: 15vh;
    overflow: hidden;
    position: relative;
}

#link-voltar {
    text-align: center; /* Centraliza o texto do link */
    padding: 10px; /* Espaçamento ao redor do link */
    color: white; /* Cor do texto */
    text-decoration: underline; /* Remove sublinhado do link */
    font-size: 20px; /* Tamanho da fonte do link */
}

#link-voltar:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.header-image {
    width: auto; /* Mantém a proporção original */
    height: auto; /* Mantém a proporção original */
    object-fit: contain; /* Ajusta a imagem para caber no contêiner sem cortar */
    position: absolute; /* Para garantir que a imagem se ajuste ao header */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para centralizar a imagem corretamente */
}

#kyubey-sentado{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 146px;
    height: 87px;
}

#kyubey-deitado{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  width: 445px;
  height: 110px;
}

.bola{
    height: 20px;
    width: 20px;
    margin-top:20px;
}
.legendanat{
    display:flex;
    align-items: center;
}
.legendanat h2{
    margin-top:20px;
    font-size:15px;
}



#sayaka{
    width:150px;
    margin-top: 50%;
}

.grafico {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%); /* Centraliza horizontal e verticalmente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.grafico img {
    width: 1163px;
    height: 352px;
    margin-left: 0; /* Remove margens desnecessárias */
}
